/* COMMON */
ul{
    display: flex;
    list-style: none;
    text-decoration: none;
}
.ms_divider{
    color: inherit;
    margin: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ms_line{
    width: 10%;
    margin: 0 1em;
    border-top: 3px solid white;
}
.ms_line_black{
    width: 10%;
    margin: 0 1em;
    border-top: 3px solid black;
}
.ms_container_sm{
    max-width: 1170px;
    width: 60%;
    margin: 0 auto;
}
.ms_btn-green{
    color: #fff;
    background-color: #1ABC9C;
    border-color: #fff;
    margin: 2em auto;
}
.ms_btn-green:hover{
    color: #1ABC9C;
    background-color: #fff;
    border-color: #1ABC9C;
}
.ms_btn-green:focus{
    box-shadow: none;
}
.ms_contact-form .form-control{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding-left: 0;
}
.ms_contact-form .form-control:focus{
    box-shadow: none;
}

/* HEADER  */
header{
    color: white;
}
.top-head{
    background-color: #2C3E50;
}
.top-head h1{
    font-size: 1.8em;
}
/* jumbotron */
.ms_jumbotron{
    text-align: center;
    background-color: #1ABC9C;
}
.logo_avatar{
    width: 15%;
}
/* MAIN */
.about{
    color: white;
    background-color: #1ABC9C;
    text-align: center;
}
.ms_portfolio_item{
    position: relative;
}
.ms_portfolio_item img{
    width: 100%;
    border-radius: 10%;
}
.layover::before{
    display: none;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10%;
    background-color: rgba(0, 0, 0, 0.7);
}
.ms_portfolio_item:hover .layover::before{
    display: inline-block;
    z-index: 100;
}
/* FOOTER */
footer{
    color:white;
}
footer p{
    margin-bottom: 0;
}
.top_foot{
    text-align: center;
    background-color: #3A546D;
}
.copyright{
    font-size: 0.7em;
    background-color: #2C3E50;
}